-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: hris_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `annonces`
--

DROP TABLE IF EXISTS `annonces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `annonces` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `contenu` longtext NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `entite_id` bigint(20) unsigned NOT NULL,
  `auteur_id` bigint(20) unsigned NOT NULL,
  `est_epingle` tinyint(1) NOT NULL DEFAULT 0,
  `date_epingle_jusqua` date DEFAULT NULL,
  `date_publication` timestamp NOT NULL DEFAULT '2026-06-26 15:39:36',
  `date_expiration` date DEFAULT NULL,
  `utilisateurs_cibles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`utilisateurs_cibles`)),
  `visibilite` enum('entite','global','roles','groupes','directions') NOT NULL DEFAULT 'entite',
  `roles_cibles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`roles_cibles`)),
  `groupes_cibles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`groupes_cibles`)),
  `directions_cibles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`directions_cibles`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `type_annonce` enum('information','urgent','evenement','rh','autre') NOT NULL DEFAULT 'information',
  `cible_type` enum('tous','direction','groupes','utilisateurs') NOT NULL DEFAULT 'tous',
  `direction_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `annonces_entite_id_foreign` (`entite_id`),
  KEY `annonces_auteur_id_foreign` (`auteur_id`),
  KEY `annonces_direction_id_foreign` (`direction_id`),
  CONSTRAINT `annonces_auteur_id_foreign` FOREIGN KEY (`auteur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `annonces_direction_id_foreign` FOREIGN KEY (`direction_id`) REFERENCES `directions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `annonces_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `annonces`
--

LOCK TABLES `annonces` WRITE;
/*!40000 ALTER TABLE `annonces` DISABLE KEYS */;
/*!40000 ALTER TABLE `annonces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatures`
--

DROP TABLE IF EXISTS `candidatures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidatures` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `offre_emploi_id` bigint(20) unsigned DEFAULT NULL,
  `type` enum('emploi','stage','alternance') NOT NULL DEFAULT 'emploi',
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `cv_path` varchar(255) NOT NULL,
  `lettre_motivation` text DEFAULT NULL,
  `statut` enum('nouveau','en_cours','entretien_planifie','entretien_realise','offre','accepte','refuse','archive') NOT NULL DEFAULT 'nouveau',
  `date_entretien` date DEFAULT NULL,
  `heure_entretien` time DEFAULT NULL,
  `lieu_entretien` varchar(255) DEFAULT NULL,
  `notes_entretien` text DEFAULT NULL,
  `evaluation` text DEFAULT NULL,
  `score_technique` int(11) DEFAULT NULL,
  `score_comportemental` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `recruteur_id` bigint(20) unsigned DEFAULT NULL,
  `commentaire_recruteur` text DEFAULT NULL,
  `date_validation` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `candidatures_offre_emploi_id_foreign` (`offre_emploi_id`),
  KEY `candidatures_recruteur_id_foreign` (`recruteur_id`),
  CONSTRAINT `candidatures_offre_emploi_id_foreign` FOREIGN KEY (`offre_emploi_id`) REFERENCES `offre_emplois` (`id`) ON DELETE CASCADE,
  CONSTRAINT `candidatures_recruteur_id_foreign` FOREIGN KEY (`recruteur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatures`
--

LOCK TABLES `candidatures` WRITE;
/*!40000 ALTER TABLE `candidatures` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidatures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories_formations`
--

DROP TABLE IF EXISTS `categories_formations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories_formations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `icone` varchar(255) DEFAULT NULL,
  `couleur` varchar(255) DEFAULT NULL,
  `parent_id` bigint(20) unsigned DEFAULT NULL,
  `ordre` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categories_formations_slug_unique` (`slug`),
  KEY `categories_formations_parent_id_foreign` (`parent_id`),
  CONSTRAINT `categories_formations_parent_id_foreign` FOREIGN KEY (`parent_id`) REFERENCES `categories_formations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories_formations`
--

LOCK TABLES `categories_formations` WRITE;
/*!40000 ALTER TABLE `categories_formations` DISABLE KEYS */;
INSERT INTO `categories_formations` VALUES (1,'D├®veloppement Web','developpement-web','Formations li├®es au d├®veloppement web','?',NULL,NULL,1,'2026-06-30 10:39:32','2026-06-30 10:39:32'),(2,'S├®curit├® & Conformit├®','securite-conformite','Formations en s├®curit├® informatique et conformit├® r├®glementaire','??',NULL,NULL,3,'2026-06-30 10:43:23','2026-06-30 10:43:23'),(3,'Management & Gestion de Projet','management-gestion-projet','Formations en management et gestion de projet','?',NULL,NULL,2,'2026-06-30 10:44:00','2026-06-30 10:44:00');
/*!40000 ALTER TABLE `categories_formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conges`
--

DROP TABLE IF EXISTS `conges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conges` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `type_conge` enum('annuel','maladie','sans_solde','formation','autre') NOT NULL DEFAULT 'annuel',
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `duree_ouvrable` int(11) NOT NULL DEFAULT 0 COMMENT 'Nombre de jours ouvr├®s',
  `motif` text DEFAULT NULL,
  `statut` enum('en_attente','valide','rejete','annule') NOT NULL DEFAULT 'en_attente',
  `valide_par` bigint(20) unsigned DEFAULT NULL,
  `date_validation` timestamp NULL DEFAULT NULL,
  `commentaire_validation` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `conges_utilisateur_id_foreign` (`utilisateur_id`),
  KEY `conges_valide_par_foreign` (`valide_par`),
  CONSTRAINT `conges_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `conges_valide_par_foreign` FOREIGN KEY (`valide_par`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conges`
--

LOCK TABLES `conges` WRITE;
/*!40000 ALTER TABLE `conges` DISABLE KEYS */;
/*!40000 ALTER TABLE `conges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `directions`
--

DROP TABLE IF EXISTS `directions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `directions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `code_direction` varchar(255) DEFAULT NULL,
  `entite_id` bigint(20) unsigned NOT NULL,
  `directeur_id` bigint(20) unsigned DEFAULT NULL,
  `direction_parent_id` bigint(20) unsigned DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `budget_annuel` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `directions_code_direction_unique` (`code_direction`),
  KEY `directions_entite_id_foreign` (`entite_id`),
  KEY `directions_directeur_id_foreign` (`directeur_id`),
  KEY `directions_direction_parent_id_foreign` (`direction_parent_id`),
  CONSTRAINT `directions_directeur_id_foreign` FOREIGN KEY (`directeur_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `directions_direction_parent_id_foreign` FOREIGN KEY (`direction_parent_id`) REFERENCES `directions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `directions_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `directions`
--

LOCK TABLES `directions` WRITE;
/*!40000 ALTER TABLE `directions` DISABLE KEYS */;
/*!40000 ALTER TABLE `directions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `nom_fichier` varchar(255) NOT NULL,
  `nom_original` varchar(255) NOT NULL,
  `extension` varchar(255) NOT NULL,
  `mime_type` varchar(255) NOT NULL,
  `taille_octets` bigint(20) NOT NULL,
  `titre` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `mots_cles` text DEFAULT NULL,
  `auteur` varchar(255) DEFAULT NULL,
  `langue` varchar(255) NOT NULL DEFAULT 'fr',
  `dossier_id` bigint(20) unsigned NOT NULL,
  `chemin_storage` varchar(255) NOT NULL,
  `proprietaire_id` bigint(20) unsigned NOT NULL,
  `entite_id` bigint(20) unsigned DEFAULT NULL,
  `direction_id` bigint(20) unsigned DEFAULT NULL,
  `espace_id` bigint(20) unsigned DEFAULT NULL,
  `version_majeure` int(11) NOT NULL DEFAULT 1,
  `version_mineure` int(11) NOT NULL DEFAULT 0,
  `version_patch` int(11) NOT NULL DEFAULT 0,
  `permissions_heritees` tinyint(1) NOT NULL DEFAULT 1,
  `nombre_vues` int(11) NOT NULL DEFAULT 0,
  `nombre_telechargements` int(11) NOT NULL DEFAULT 0,
  `derniere_vue_at` timestamp NULL DEFAULT NULL,
  `est_verrouille` tinyint(1) NOT NULL DEFAULT 0,
  `date_expiration` timestamp NULL DEFAULT NULL,
  `est_archive` tinyint(1) NOT NULL DEFAULT 0,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `documents_uuid_unique` (`uuid`),
  KEY `documents_dossier_id_foreign` (`dossier_id`),
  KEY `documents_proprietaire_id_foreign` (`proprietaire_id`),
  KEY `documents_entite_id_foreign` (`entite_id`),
  KEY `documents_direction_id_foreign` (`direction_id`),
  KEY `documents_espace_id_foreign` (`espace_id`),
  CONSTRAINT `documents_direction_id_foreign` FOREIGN KEY (`direction_id`) REFERENCES `directions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `documents_dossier_id_foreign` FOREIGN KEY (`dossier_id`) REFERENCES `dossiers_documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `documents_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE,
  CONSTRAINT `documents_espace_id_foreign` FOREIGN KEY (`espace_id`) REFERENCES `espaces_collaboratifs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `documents_proprietaire_id_foreign` FOREIGN KEY (`proprietaire_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dossiers_documents`
--

DROP TABLE IF EXISTS `dossiers_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dossiers_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `dossier_parent_id` bigint(20) unsigned DEFAULT NULL,
  `entite_id` bigint(20) unsigned DEFAULT NULL,
  `direction_id` bigint(20) unsigned DEFAULT NULL,
  `creer_par` bigint(20) unsigned NOT NULL,
  `visibilite` enum('public','entite','direction','prive','groupe') NOT NULL DEFAULT 'direction',
  `qui_peut_voir` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`qui_peut_voir`)),
  `qui_peut_ajouter` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`qui_peut_ajouter`)),
  `qui_peut_modifier` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`qui_peut_modifier`)),
  `qui_peut_supprimer` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`qui_peut_supprimer`)),
  `quota_mo` bigint(20) NOT NULL DEFAULT 1024,
  `espace_utilise_mo` bigint(20) NOT NULL DEFAULT 0,
  `est_actif` tinyint(1) NOT NULL DEFAULT 1,
  `est_archive` tinyint(1) NOT NULL DEFAULT 0,
  `chemin_complet` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dossiers_documents_uuid_unique` (`uuid`),
  KEY `dossiers_documents_dossier_parent_id_foreign` (`dossier_parent_id`),
  KEY `dossiers_documents_entite_id_foreign` (`entite_id`),
  KEY `dossiers_documents_direction_id_foreign` (`direction_id`),
  KEY `dossiers_documents_creer_par_foreign` (`creer_par`),
  CONSTRAINT `dossiers_documents_creer_par_foreign` FOREIGN KEY (`creer_par`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dossiers_documents_direction_id_foreign` FOREIGN KEY (`direction_id`) REFERENCES `directions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dossiers_documents_dossier_parent_id_foreign` FOREIGN KEY (`dossier_parent_id`) REFERENCES `dossiers_documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dossiers_documents_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dossiers_documents`
--

LOCK TABLES `dossiers_documents` WRITE;
/*!40000 ALTER TABLE `dossiers_documents` DISABLE KEYS */;
INSERT INTO `dossiers_documents` VALUES (1,'efb322ff-53c8-49cf-8b0f-750522756bb8','Racine',NULL,NULL,NULL,1,'public',NULL,NULL,NULL,NULL,1024,0,1,0,'Racine','2026-06-26 16:44:47','2026-06-26 16:44:47'),(2,'70923c65-83dc-47f2-89c5-1fdac799abf4','Racine',NULL,1,NULL,1,'entite',NULL,NULL,NULL,NULL,1024,0,1,0,'Racine','2026-06-29 10:16:19','2026-06-29 10:16:19');
/*!40000 ALTER TABLE `dossiers_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entites`
--

DROP TABLE IF EXISTS `entites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entites` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `code_entite` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `couleur_theme` varchar(255) NOT NULL DEFAULT '#007bff',
  `est_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `entites_code_entite_unique` (`code_entite`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entites`
--

LOCK TABLES `entites` WRITE;
/*!40000 ALTER TABLE `entites` DISABLE KEYS */;
INSERT INTO `entites` VALUES (1,'B├®nin Digital','BD','Entit├® principale',NULL,NULL,NULL,NULL,'#007bff',1,'2026-06-29 08:08:51','2026-06-29 08:08:51');
/*!40000 ALTER TABLE `entites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entretiens`
--

DROP TABLE IF EXISTS `entretiens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entretiens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `candidature_id` bigint(20) unsigned NOT NULL,
  `offre_emploi_id` bigint(20) unsigned DEFAULT NULL,
  `recruteur_id` bigint(20) unsigned NOT NULL,
  `date_entretien` date NOT NULL,
  `heure_entretien` time NOT NULL,
  `lieu` varchar(255) DEFAULT NULL,
  `type` enum('presentiel','visio','telephonique') NOT NULL DEFAULT 'presentiel',
  `statut` enum('planifie','realise','annule') NOT NULL DEFAULT 'planifie',
  `notes` text DEFAULT NULL,
  `score` int(11) DEFAULT NULL,
  `commentaire` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `entretiens_candidature_id_foreign` (`candidature_id`),
  KEY `entretiens_offre_emploi_id_foreign` (`offre_emploi_id`),
  KEY `entretiens_recruteur_id_foreign` (`recruteur_id`),
  CONSTRAINT `entretiens_candidature_id_foreign` FOREIGN KEY (`candidature_id`) REFERENCES `candidatures` (`id`) ON DELETE CASCADE,
  CONSTRAINT `entretiens_offre_emploi_id_foreign` FOREIGN KEY (`offre_emploi_id`) REFERENCES `offre_emplois` (`id`) ON DELETE SET NULL,
  CONSTRAINT `entretiens_recruteur_id_foreign` FOREIGN KEY (`recruteur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entretiens`
--

LOCK TABLES `entretiens` WRITE;
/*!40000 ALTER TABLE `entretiens` DISABLE KEYS */;
/*!40000 ALTER TABLE `entretiens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `espace_membres`
--

DROP TABLE IF EXISTS `espace_membres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `espace_membres` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `espace_id` bigint(20) unsigned NOT NULL,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `role` enum('admin','membre') NOT NULL DEFAULT 'membre',
  `date_rejoint` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `espace_membres_espace_id_utilisateur_id_unique` (`espace_id`,`utilisateur_id`),
  KEY `espace_membres_utilisateur_id_foreign` (`utilisateur_id`),
  CONSTRAINT `espace_membres_espace_id_foreign` FOREIGN KEY (`espace_id`) REFERENCES `espaces_collaboratifs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `espace_membres_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `espace_membres`
--

LOCK TABLES `espace_membres` WRITE;
/*!40000 ALTER TABLE `espace_membres` DISABLE KEYS */;
/*!40000 ALTER TABLE `espace_membres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `espaces_collaboratifs`
--

DROP TABLE IF EXISTS `espaces_collaboratifs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `espaces_collaboratifs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `image_couverture` varchar(255) DEFAULT NULL,
  `createur_id` bigint(20) unsigned NOT NULL,
  `entite_id` bigint(20) unsigned DEFAULT NULL,
  `est_prive` tinyint(1) NOT NULL DEFAULT 1,
  `statut` enum('actif','archive') NOT NULL DEFAULT 'actif',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `espaces_collaboratifs_createur_id_foreign` (`createur_id`),
  KEY `espaces_collaboratifs_entite_id_foreign` (`entite_id`),
  KEY `espaces_collaboratifs_uuid_index` (`uuid`),
  CONSTRAINT `espaces_collaboratifs_createur_id_foreign` FOREIGN KEY (`createur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `espaces_collaboratifs_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `espaces_collaboratifs`
--

LOCK TABLES `espaces_collaboratifs` WRITE;
/*!40000 ALTER TABLE `espaces_collaboratifs` DISABLE KEYS */;
/*!40000 ALTER TABLE `espaces_collaboratifs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_formations`
--

DROP TABLE IF EXISTS `evaluation_formations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluation_formations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `formation_id` bigint(20) unsigned NOT NULL,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `note` tinyint(3) unsigned NOT NULL COMMENT 'Note de 1 ├á 5',
  `commentaire` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `evaluation_formations_formation_id_utilisateur_id_unique` (`formation_id`,`utilisateur_id`),
  KEY `evaluation_formations_utilisateur_id_foreign` (`utilisateur_id`),
  CONSTRAINT `evaluation_formations_formation_id_foreign` FOREIGN KEY (`formation_id`) REFERENCES `formations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evaluation_formations_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_formations`
--

LOCK TABLES `evaluation_formations` WRITE;
/*!40000 ALTER TABLE `evaluation_formations` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation_formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evenements`
--

DROP TABLE IF EXISTS `evenements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evenements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `date_debut` datetime NOT NULL,
  `date_fin` datetime NOT NULL,
  `fuseau_horaire` varchar(255) NOT NULL DEFAULT 'Europe/Paris',
  `duree_minutes` int(11) DEFAULT NULL,
  `type_evenement` enum('reunion','formation','evenement_social','rendez_vous','autre') NOT NULL DEFAULT 'reunion',
  `categorie` varchar(255) DEFAULT NULL,
  `couleur` varchar(255) DEFAULT NULL,
  `lieu` varchar(255) DEFAULT NULL,
  `lien_virtuel` varchar(255) DEFAULT NULL,
  `type_lieu` enum('presentiel','virtuel','hybride') NOT NULL DEFAULT 'presentiel',
  `organisateur_id` bigint(20) unsigned NOT NULL,
  `entite_id` bigint(20) unsigned NOT NULL,
  `direction_id` bigint(20) unsigned DEFAULT NULL,
  `formation_id` bigint(20) unsigned DEFAULT NULL,
  `visibilite` enum('entite','global','roles','groupes','directions') DEFAULT 'entite',
  `roles_cibles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`roles_cibles`)),
  `groupes_cibles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`groupes_cibles`)),
  `directions_cibles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`directions_cibles`)),
  `est_epingle` tinyint(1) NOT NULL DEFAULT 0,
  `date_epingle_jusqua` datetime DEFAULT NULL,
  `groupes_acces` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`groupes_acces`)),
  `capacite_max` int(11) DEFAULT NULL,
  `inscription_requise` tinyint(1) NOT NULL DEFAULT 0,
  `est_recurrent` tinyint(1) NOT NULL DEFAULT 0,
  `recurrence_pattern` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recurrence_pattern`)),
  `date_fin_recurrence` date DEFAULT NULL,
  `statut` enum('planifie','confirme','annule','termine','brouillon','publie') NOT NULL DEFAULT 'planifie',
  `nombre_participants` int(11) NOT NULL DEFAULT 0,
  `nombre_inscrits` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `evenements_uuid_unique` (`uuid`),
  KEY `evenements_organisateur_id_foreign` (`organisateur_id`),
  KEY `evenements_entite_id_foreign` (`entite_id`),
  KEY `evenements_direction_id_foreign` (`direction_id`),
  KEY `evenements_formation_id_foreign` (`formation_id`),
  CONSTRAINT `evenements_direction_id_foreign` FOREIGN KEY (`direction_id`) REFERENCES `directions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `evenements_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evenements_formation_id_foreign` FOREIGN KEY (`formation_id`) REFERENCES `formations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `evenements_organisateur_id_foreign` FOREIGN KEY (`organisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evenements`
--

LOCK TABLES `evenements` WRITE;
/*!40000 ALTER TABLE `evenements` DISABLE KEYS */;
/*!40000 ALTER TABLE `evenements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formations`
--

DROP TABLE IF EXISTS `formations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `sous_titre` text DEFAULT NULL,
  `description` longtext DEFAULT NULL,
  `objectifs` text DEFAULT NULL,
  `prerequis` text DEFAULT NULL,
  `categorie_id` bigint(20) unsigned DEFAULT NULL,
  `formateur_principal_id` bigint(20) unsigned NOT NULL,
  `entite_id` bigint(20) unsigned DEFAULT NULL,
  `niveau` enum('debutant','intermediaire','avance','expert') NOT NULL DEFAULT 'debutant',
  `duree_minutes` int(11) NOT NULL,
  `points_competences` int(11) NOT NULL DEFAULT 0,
  `cout` decimal(10,2) DEFAULT NULL,
  `devise` varchar(255) NOT NULL DEFAULT 'EUR',
  `image_couverture` varchar(255) DEFAULT NULL,
  `video_presentation` varchar(255) DEFAULT NULL,
  `lien_session` varchar(255) DEFAULT NULL,
  `fichiers_joints` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`fichiers_joints`)),
  `est_public` tinyint(1) NOT NULL DEFAULT 0,
  `mode_acces` enum('interne','externe','mixte','libre','inscription','approbation','payant') NOT NULL DEFAULT 'interne',
  `capacite_max` int(11) DEFAULT NULL,
  `certificat_disponible` tinyint(1) NOT NULL DEFAULT 0,
  `evaluation_obligatoire` tinyint(1) NOT NULL DEFAULT 0,
  `date_debut` date DEFAULT NULL,
  `date_fin` date DEFAULT NULL,
  `date_limite_inscription` date DEFAULT NULL,
  `nombre_vues` int(11) NOT NULL DEFAULT 0,
  `nombre_inscrits` int(11) NOT NULL DEFAULT 0,
  `note_moyenne` decimal(3,2) NOT NULL DEFAULT 0.00,
  `nombre_evaluations` int(11) NOT NULL DEFAULT 0,
  `statut` enum('brouillon','publie','archive','planifie','en_cours','termine') NOT NULL DEFAULT 'brouillon',
  `publie_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `formations_uuid_unique` (`uuid`),
  UNIQUE KEY `formations_slug_unique` (`slug`),
  KEY `formations_categorie_id_foreign` (`categorie_id`),
  KEY `formations_formateur_principal_id_foreign` (`formateur_principal_id`),
  KEY `formations_entite_id_foreign` (`entite_id`),
  CONSTRAINT `formations_categorie_id_foreign` FOREIGN KEY (`categorie_id`) REFERENCES `categories_formations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `formations_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE,
  CONSTRAINT `formations_formateur_principal_id_foreign` FOREIGN KEY (`formateur_principal_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formations`
--

LOCK TABLES `formations` WRITE;
/*!40000 ALTER TABLE `formations` DISABLE KEYS */;
/*!40000 ALTER TABLE `formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `galleries`
--

DROP TABLE IF EXISTS `galleries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `galleries` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `image_path` varchar(255) NOT NULL,
  `is_visible` tinyint(1) NOT NULL DEFAULT 1,
  `order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `galleries`
--

LOCK TABLES `galleries` WRITE;
/*!40000 ALTER TABLE `galleries` DISABLE KEYS */;
/*!40000 ALTER TABLE `galleries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_documents`
--

DROP TABLE IF EXISTS `historique_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `document_id` bigint(20) unsigned NOT NULL,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `action` enum('creation','modification','telechargement','visualisation','suppression','restauration','verrouillage','deverrouillage','partage') NOT NULL,
  `details` text DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `ip_adresse` varchar(255) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `historique_documents_document_id_foreign` (`document_id`),
  KEY `historique_documents_utilisateur_id_foreign` (`utilisateur_id`),
  CONSTRAINT `historique_documents_document_id_foreign` FOREIGN KEY (`document_id`) REFERENCES `documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historique_documents_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_documents`
--

LOCK TABLES `historique_documents` WRITE;
/*!40000 ALTER TABLE `historique_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `historique_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscription_formations`
--

DROP TABLE IF EXISTS `inscription_formations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscription_formations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `formation_id` bigint(20) unsigned NOT NULL,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `statut` enum('inscrit','en_cours','complete','abandonne') NOT NULL DEFAULT 'inscrit',
  `termine_at` timestamp NULL DEFAULT NULL,
  `progression_pourcentage` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `inscription_formations_formation_id_utilisateur_id_unique` (`formation_id`,`utilisateur_id`),
  KEY `inscription_formations_utilisateur_id_foreign` (`utilisateur_id`),
  CONSTRAINT `inscription_formations_formation_id_foreign` FOREIGN KEY (`formation_id`) REFERENCES `formations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inscription_formations_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscription_formations`
--

LOCK TABLES `inscription_formations` WRITE;
/*!40000 ALTER TABLE `inscription_formations` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscription_formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB AUTO_INCREMENT=115 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lecons`
--

DROP TABLE IF EXISTS `lecons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lecons` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sequence_id` bigint(20) unsigned NOT NULL,
  `titre` varchar(255) NOT NULL,
  `contenu` text DEFAULT NULL,
  `video_url` varchar(255) DEFAULT NULL,
  `duree_minutes` int(11) NOT NULL DEFAULT 0,
  `ordre` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lecons_sequence_id_foreign` (`sequence_id`),
  CONSTRAINT `lecons_sequence_id_foreign` FOREIGN KEY (`sequence_id`) REFERENCES `sequence_formations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lecons`
--

LOCK TABLES `lecons` WRITE;
/*!40000 ALTER TABLE `lecons` DISABLE KEYS */;
/*!40000 ALTER TABLE `lecons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `entite_id` bigint(20) unsigned NOT NULL,
  `destinataire_id` bigint(20) unsigned DEFAULT NULL,
  `espace_id` bigint(20) unsigned DEFAULT NULL,
  `contenu` text NOT NULL,
  `parent_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `messages_utilisateur_id_foreign` (`utilisateur_id`),
  KEY `messages_entite_id_foreign` (`entite_id`),
  KEY `messages_parent_id_foreign` (`parent_id`),
  KEY `messages_destinataire_id_foreign` (`destinataire_id`),
  KEY `messages_espace_id_foreign` (`espace_id`),
  CONSTRAINT `messages_destinataire_id_foreign` FOREIGN KEY (`destinataire_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `messages_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE,
  CONSTRAINT `messages_espace_id_foreign` FOREIGN KEY (`espace_id`) REFERENCES `espaces_collaboratifs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `messages_parent_id_foreign` FOREIGN KEY (`parent_id`) REFERENCES `messages` (`id`) ON DELETE CASCADE,
  CONSTRAINT `messages_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `newsletters`
--

DROP TABLE IF EXISTS `newsletters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `newsletters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `subscribed_at` timestamp NULL DEFAULT NULL,
  `unsubscribed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `newsletters_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `newsletters`
--

LOCK TABLES `newsletters` WRITE;
/*!40000 ALTER TABLE `newsletters` DISABLE KEYS */;
INSERT INTO `newsletters` VALUES (1,'modele@gmail.com',1,'2026-07-01 14:28:40',NULL,'2026-07-01 14:28:40','2026-07-01 14:28:40');
/*!40000 ALTER TABLE `newsletters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` char(36) NOT NULL,
  `type` varchar(255) NOT NULL,
  `notifiable_type` varchar(255) NOT NULL,
  `notifiable_id` bigint(20) unsigned NOT NULL,
  `data` text NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifiable_type_notifiable_id_index` (`notifiable_type`,`notifiable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offre_emplois`
--

DROP TABLE IF EXISTS `offre_emplois`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offre_emplois` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `lieu` varchar(255) DEFAULT NULL,
  `type_contrat` varchar(255) NOT NULL DEFAULT 'CDI',
  `departement` varchar(255) DEFAULT NULL,
  `date_expiration` date DEFAULT NULL,
  `is_published` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offre_emplois`
--

LOCK TABLES `offre_emplois` WRITE;
/*!40000 ALTER TABLE `offre_emplois` DISABLE KEYS */;
/*!40000 ALTER TABLE `offre_emplois` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partages_documents`
--

DROP TABLE IF EXISTS `partages_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `partages_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `document_id` bigint(20) unsigned NOT NULL,
  `partage_avec_type` enum('utilisateur','groupe','direction','entite','role','extranet') NOT NULL,
  `partage_avec_id` bigint(20) unsigned DEFAULT NULL,
  `partage_par` bigint(20) unsigned NOT NULL,
  `permissions` enum('lecture','telechargement','modification','gestion') NOT NULL DEFAULT 'lecture',
  `token_partage` varchar(255) DEFAULT NULL,
  `lien_public_expire_at` timestamp NULL DEFAULT NULL,
  `message` text DEFAULT NULL,
  `notifier` tinyint(1) NOT NULL DEFAULT 1,
  `notifie_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `partages_documents_token_partage_unique` (`token_partage`),
  KEY `partages_documents_document_id_foreign` (`document_id`),
  KEY `partages_documents_partage_par_foreign` (`partage_par`),
  CONSTRAINT `partages_documents_document_id_foreign` FOREIGN KEY (`document_id`) REFERENCES `documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `partages_documents_partage_par_foreign` FOREIGN KEY (`partage_par`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partages_documents`
--

LOCK TABLES `partages_documents` WRITE;
/*!40000 ALTER TABLE `partages_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `partages_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `nom_affichage` varchar(255) DEFAULT NULL,
  `module` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `categorie` varchar(255) DEFAULT NULL,
  `guard_name` varchar(255) NOT NULL DEFAULT 'web',
  `interface` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_nom_guard_name_unique` (`nom`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pointages`
--

DROP TABLE IF EXISTS `pointages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pointages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `date` date NOT NULL,
  `heure_entree` time DEFAULT NULL,
  `heure_sortie` time DEFAULT NULL,
  `pause_debut` time DEFAULT NULL,
  `pause_fin` time DEFAULT NULL,
  `statut` enum('present','absent','retard','conges','ferie') NOT NULL DEFAULT 'present',
  `minutes_retard` int(11) NOT NULL DEFAULT 0,
  `minutes_supplementaires` int(11) NOT NULL DEFAULT 0,
  `minutes_travaillees` int(11) NOT NULL DEFAULT 0,
  `commentaire` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `valide` tinyint(1) NOT NULL DEFAULT 0,
  `valide_par` bigint(20) unsigned DEFAULT NULL,
  `valide_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pointages_utilisateur_id_date_unique` (`utilisateur_id`,`date`),
  KEY `pointages_valide_par_foreign` (`valide_par`),
  CONSTRAINT `pointages_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pointages_valide_par_foreign` FOREIGN KEY (`valide_par`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pointages`
--

LOCK TABLES `pointages` WRITE;
/*!40000 ALTER TABLE `pointages` DISABLE KEYS */;
/*!40000 ALTER TABLE `pointages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permission`
--

DROP TABLE IF EXISTS `role_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permission` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `role_id` bigint(20) unsigned NOT NULL,
  `permission_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_permission_role_id_permission_id_unique` (`role_id`,`permission_id`),
  KEY `role_permission_permission_id_foreign` (`permission_id`),
  CONSTRAINT `role_permission_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permission_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permission`
--

LOCK TABLES `role_permission` WRITE;
/*!40000 ALTER TABLE `role_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `nom_affichage` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `niveau` int(11) NOT NULL DEFAULT 0,
  `est_systeme` tinyint(1) NOT NULL DEFAULT 0,
  `permissions_defaut` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`permissions_defaut`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_nom_unique` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rubriques`
--

DROP TABLE IF EXISTS `rubriques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rubriques` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `icone` varchar(255) DEFAULT NULL,
  `couleur` varchar(255) DEFAULT NULL,
  `ordre` int(11) NOT NULL DEFAULT 0,
  `est_actif` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rubriques_slug_unique` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rubriques`
--

LOCK TABLES `rubriques` WRITE;
/*!40000 ALTER TABLE `rubriques` DISABLE KEYS */;
/*!40000 ALTER TABLE `rubriques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sequence_formations`
--

DROP TABLE IF EXISTS `sequence_formations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sequence_formations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `formation_id` bigint(20) unsigned NOT NULL,
  `titre` varchar(255) NOT NULL,
  `ordre` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sequence_formations_formation_id_foreign` (`formation_id`),
  CONSTRAINT `sequence_formations_formation_id_foreign` FOREIGN KEY (`formation_id`) REFERENCES `formations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sequence_formations`
--

LOCK TABLES `sequence_formations` WRITE;
/*!40000 ALTER TABLE `sequence_formations` DISABLE KEYS */;
/*!40000 ALTER TABLE `sequence_formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `soldes_conges`
--

DROP TABLE IF EXISTS `soldes_conges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `soldes_conges` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `type_conge` enum('annuel','maladie','sans_solde','formation','autre') NOT NULL DEFAULT 'annuel',
  `annee` year(4) NOT NULL,
  `solde_initial` int(11) NOT NULL DEFAULT 0,
  `solde_pris` int(11) NOT NULL DEFAULT 0,
  `solde_restant` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `soldes_conges_utilisateur_id_type_conge_annee_unique` (`utilisateur_id`,`type_conge`,`annee`),
  CONSTRAINT `soldes_conges_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `soldes_conges`
--

LOCK TABLES `soldes_conges` WRITE;
/*!40000 ALTER TABLE `soldes_conges` DISABLE KEYS */;
/*!40000 ALTER TABLE `soldes_conges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statistiques_publiques`
--

DROP TABLE IF EXISTS `statistiques_publiques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistiques_publiques` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`data`)),
  `is_published` tinyint(1) NOT NULL DEFAULT 0,
  `ordre` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statistiques_publiques`
--

LOCK TABLES `statistiques_publiques` WRITE;
/*!40000 ALTER TABLE `statistiques_publiques` DISABLE KEYS */;
/*!40000 ALTER TABLE `statistiques_publiques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taches`
--

DROP TABLE IF EXISTS `taches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taches` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `entite_id` bigint(20) unsigned DEFAULT NULL,
  `createur_id` bigint(20) unsigned NOT NULL,
  `projet_id` bigint(20) unsigned DEFAULT NULL,
  `espace_id` bigint(20) unsigned DEFAULT NULL,
  `assigne_a` bigint(20) unsigned DEFAULT NULL,
  `participants` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`participants`)),
  `date_debut` date DEFAULT NULL,
  `date_echeance` date DEFAULT NULL,
  `date_fin_reelle` date DEFAULT NULL,
  `priorite` enum('basse','moyenne','haute') NOT NULL DEFAULT 'moyenne',
  `statut` enum('en_attente','en_cours','terminee','annulee') NOT NULL DEFAULT 'en_attente',
  `progression_pourcentage` int(11) NOT NULL DEFAULT 0,
  `tags` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`tags`)),
  `estimation_heures` int(11) DEFAULT NULL,
  `temps_passe_minutes` int(11) NOT NULL DEFAULT 0,
  `fichiers_joints` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`fichiers_joints`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `taches_entite_id_foreign` (`entite_id`),
  KEY `taches_createur_id_foreign` (`createur_id`),
  KEY `taches_assigne_a_foreign` (`assigne_a`),
  KEY `taches_espace_id_foreign` (`espace_id`),
  CONSTRAINT `taches_assigne_a_foreign` FOREIGN KEY (`assigne_a`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `taches_createur_id_foreign` FOREIGN KEY (`createur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `taches_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE SET NULL,
  CONSTRAINT `taches_espace_id_foreign` FOREIGN KEY (`espace_id`) REFERENCES `espaces_collaboratifs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taches`
--

LOCK TABLES `taches` WRITE;
/*!40000 ALTER TABLE `taches` DISABLE KEYS */;
/*!40000 ALTER TABLE `taches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temps_sessions`
--

DROP TABLE IF EXISTS `temps_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temps_sessions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tache_id` bigint(20) unsigned NOT NULL,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `debut` timestamp NULL DEFAULT NULL,
  `fin` timestamp NULL DEFAULT NULL,
  `duree_secondes` int(11) NOT NULL DEFAULT 0,
  `est_en_cours` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `temps_sessions_utilisateur_id_foreign` (`utilisateur_id`),
  KEY `temps_sessions_tache_id_est_en_cours_index` (`tache_id`,`est_en_cours`),
  CONSTRAINT `temps_sessions_tache_id_foreign` FOREIGN KEY (`tache_id`) REFERENCES `taches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `temps_sessions_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temps_sessions`
--

LOCK TABLES `temps_sessions` WRITE;
/*!40000 ALTER TABLE `temps_sessions` DISABLE KEYS */;
INSERT INTO `temps_sessions` VALUES (1,1,5,'2026-06-26 17:00:44','2026-06-26 17:01:11',-27,0,'2026-06-26 17:00:44','2026-06-26 17:01:11'),(2,3,1,'2026-06-29 13:03:12','2026-06-29 13:04:15',-63,0,'2026-06-29 13:03:12','2026-06-29 13:04:15'),(3,1,1,'2026-06-29 13:04:35','2026-06-29 13:05:46',-72,0,'2026-06-29 13:04:35','2026-06-29 13:05:46'),(4,31,6,'2026-06-30 12:14:18',NULL,0,1,'2026-06-30 12:14:18','2026-06-30 12:14:18'),(5,31,1,'2026-07-01 14:19:33',NULL,0,1,'2026-07-01 14:19:33','2026-07-01 14:19:33');
/*!40000 ALTER TABLE `temps_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur_permission`
--

DROP TABLE IF EXISTS `utilisateur_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur_permission` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `permission_id` bigint(20) unsigned NOT NULL,
  `assigne_le` timestamp NOT NULL DEFAULT current_timestamp(),
  `assigne_par` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `utilisateur_permission_utilisateur_id_permission_id_unique` (`utilisateur_id`,`permission_id`),
  KEY `utilisateur_permission_permission_id_foreign` (`permission_id`),
  KEY `utilisateur_permission_assigne_par_foreign` (`assigne_par`),
  CONSTRAINT `utilisateur_permission_assigne_par_foreign` FOREIGN KEY (`assigne_par`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `utilisateur_permission_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `utilisateur_permission_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur_permission`
--

LOCK TABLES `utilisateur_permission` WRITE;
/*!40000 ALTER TABLE `utilisateur_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur_role`
--

DROP TABLE IF EXISTS `utilisateur_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur_role` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `utilisateur_id` bigint(20) unsigned NOT NULL,
  `role_id` bigint(20) unsigned NOT NULL,
  `assigne_par` bigint(20) unsigned DEFAULT NULL,
  `assigne_le` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `utilisateur_role_utilisateur_id_foreign` (`utilisateur_id`),
  KEY `utilisateur_role_role_id_foreign` (`role_id`),
  KEY `utilisateur_role_assigne_par_foreign` (`assigne_par`),
  CONSTRAINT `utilisateur_role_assigne_par_foreign` FOREIGN KEY (`assigne_par`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `utilisateur_role_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `utilisateur_role_utilisateur_id_foreign` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur_role`
--

LOCK TABLES `utilisateur_role` WRITE;
/*!40000 ALTER TABLE `utilisateur_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `matricule` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verifie_at` timestamp NULL DEFAULT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `civilite` enum('M','Mme','Mlle') NOT NULL DEFAULT 'M',
  `date_naissance` date DEFAULT NULL,
  `lieu_naissance` varchar(255) DEFAULT NULL,
  `photo_profil` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `telephone_urgence` varchar(255) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `ville` varchar(255) DEFAULT NULL,
  `code_postal` varchar(255) DEFAULT NULL,
  `pays` varchar(255) NOT NULL DEFAULT 'France',
  `entite_id` bigint(20) unsigned DEFAULT NULL,
  `direction_id` bigint(20) unsigned DEFAULT NULL,
  `poste` varchar(255) DEFAULT NULL,
  `date_embauche` date DEFAULT NULL,
  `date_depart` date DEFAULT NULL,
  `type_contrat` enum('CDI','CDD','Stage','Alternance','Interim') NOT NULL DEFAULT 'CDI',
  `type` enum('interne','externe') NOT NULL DEFAULT 'interne' COMMENT 'Type utilisateur: interne (employ├®) ou externe (partenaire/invit├®)',
  `statut` enum('actif','inactif','suspendu','conges') NOT NULL DEFAULT 'actif',
  `dashboard_preference` varchar(255) DEFAULT NULL,
  `langue` enum('fr','en') NOT NULL DEFAULT 'fr',
  `fuseau_horaire` varchar(255) NOT NULL DEFAULT 'Europe/Paris',
  `theme` enum('clair','sombre','auto') NOT NULL DEFAULT 'clair',
  `notifications_email` tinyint(1) NOT NULL DEFAULT 1,
  `notifications_push` tinyint(1) NOT NULL DEFAULT 1,
  `deux_fa_active` tinyint(1) NOT NULL DEFAULT 0,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `utilisateurs_matricule_unique` (`matricule`),
  UNIQUE KEY `utilisateurs_email_unique` (`email`),
  KEY `utilisateurs_entite_id_foreign` (`entite_id`),
  KEY `utilisateurs_direction_id_foreign` (`direction_id`),
  CONSTRAINT `utilisateurs_direction_id_foreign` FOREIGN KEY (`direction_id`) REFERENCES `directions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `utilisateurs_entite_id_foreign` FOREIGN KEY (`entite_id`) REFERENCES `entites` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-03  8:06:36
